<h1>動画</h1>

<% if @video.video.attached? %>
  <table>
    <tr><td>タイトル　</td><td><%= @video.title %></td></tr>
    <tr><td>概要　</td><td><%= @video.introduction %></td></tr>
  </table>
  <video src="<%= rails_blob_path(@video.video) %>" type="video/mp4" controls></video>
  
<% end %>

<%= button_to 'ホーム', root_path, method: :get %>

